samples/contacts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="contacts" type="contactsType"/>
    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="lastName"/>
            <xs:element type="xs:string" name="phone"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contactsType">
        <xs:sequence>
            <xs:element type="contactType" name="contact" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>